@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
   --font-default: Ovo, serif;
   --font-logo: Rochester, serif;

   /* COLORS: Light */
   --color-primary-950: #46413a;
   --color-primary-900: #5a5248;
   --color-primary-800: #7f7368;
   --color-primary-700: #b39f8b;
   --color-primary-600: #c2ae9a;
   --color-primary-500: #d5c5b6;
   --color-primary-400: #dfd1c4;
   --color-primary-300: #e7ded1;
   --color-primary-200: #efe7dd;
   --color-primary-100: #f6f0e8;
   --color-primary-50: #fcf9f6;
   --color-primary-0: #fff;

   --color-in_stock: #ceefd4;
   --color-sold_out: #fddadf;
   --color-in_stock_text: #2f823d;
   --color-sold_out_text: #a74043;

   --color-required: #ca3a3e;
   --color-underline: #7f7368;

   --color-autofill_bg: #f9f5f1;
   --color-autofill_text: #5a5248;

   --color-upload_button_bg: #fff;
   --color-upload_button_text: #5a5248;
   --color-upload_button_border: #dfd1c4;

   --color-toast: #fff;
   --color-toast_text: #46413a;

   --color-modal_shadow: #b39f8b;
}

@layer base {
   [data-theme='dark'] {
      --color-primary-950: #35312d;
      --color-primary-900: #38332d;
      --color-primary-800: #3c3731;
      --color-primary-700: #403b36;
      --color-primary-600: #46413a;
      --color-primary-500: #544d44;
      --color-primary-400: #665d52;
      --color-primary-300: #bba893;
      --color-primary-200: #cfbda9;
      --color-primary-100: #e7d7c5;
      --color-primary-50: #efe7dd;

      --color-in_stock: #2c5333;
      --color-sold_out: #6b3032;
      --color-in_stock_text: #d5f8db;
      --color-sold_out_text: #fddadf;

      --color-required: #ff94a3;
      --color-underline: #cfbda9;

      --color-autofill_bg: #46413a;
      --color-autofill_text: #e7d7c5;

      --color-upload_button_bg: #46413a;
      --color-upload_button_text: #e7d7c5;
      --color-upload_button_border: #665d52;

      --color-toast: #46413a;
      --color-toast_text: #efe7dd;

      --color-modal_shadow: #1e1c1b;
   }
}

button,
[role='button'] {
   cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-box-shadow: 0 0 0 30px var(--color-autofill_bg) inset !important;
}

input:-webkit-autofill {
   -webkit-text-fill-color: var(--color-autofill_text) !important;
}

.nav-link {
   @apply flex items-center gap-3 py-2 px-6 rounded-md hover:bg-primary-100 dark:hover:bg-primary-900;
}

.grid-table--items {
   @apply grid-cols-[1fr_2.6fr_1.5fr_1.6fr_1.2fr_0.8fr];
}

.grid-table--orders {
   @apply grid-cols-[0.1fr_0.6fr_0.8fr_1.1fr_0.6fr_0.29fr];
}

.focus-style {
   @apply focus:outline-none focus:ring-2 focus:transition focus:ring-primary-700 dark:focus:ring-primary-300  focus:duration-200;
}

@layer components {
   @keyframes pulse {
      50% {
         opacity: 0.5;
      }
   }

   .animate-skeleton {
      animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
   }

   @keyframes rotation {
      0% {
         transform: rotate(0deg);
      }
      100% {
         transform: rotate(360deg);
      }
   }

   .round:last-child img {
      border-end-start-radius: 7px;
   }

   .transition-custom {
      transition: background-color 0.3s, border 0.3s, color 0.01s;
   }

   .transition-text {
      transition: color 0.3s, background-color 0.3s, border 0.3s;
   }

   .remove-scrollbar {
      overflow: -moze-hidden-none;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
         display: none;
      }
   }

   .underlined-text {
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: 0.1s;
      text-decoration-thickness: 1.6px;
      text-underline-offset: 3px;

      -webkit-text-decoration-color: transparent;
      -moz-text-decoration-color: transparent;
   }

   .underlined-text--alt {
      text-decoration: underline;
      transition: 0.1s;
      text-decoration-thickness: 1.6px;
      text-underline-offset: 3px;

      text-decoration-color: var(--color-underline);

      -webkit-text-decoration-color: var(--color-underline);
      -moz-text-decoration-color: var(--color-underline);
   }

   .underlined-text:hover {
      text-decoration-color: var(--color-underline);

      -webkit-text-decoration-color: var(--color-underline);
      -moz-text-decoration-color: var(--color-underline);
   }

   .underlined-text--alt:hover {
      text-decoration-color: transparent;

      -webkit-text-decoration-color: transparent;
      -moz-text-decoration-color: transparent;
   }

   ::file-selector-button {
      font: inherit;
      padding: 0.5rem 1rem;
      margin-right: 0.9rem;
      color: var(--color-upload_button_text);
      background-color: var(--color-upload_button_bg);
      border: 2px solid var(--color-upload_button_border);
      border-radius: 0.4rem;
      cursor: pointer;
      transition: background-color 0.3s, border 0.3s, color 0.3s;
   }

   .no-spinners::-webkit-outer-spin-button,
   .no-spinners::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }

   .sales-chart {
      grid-column: 1 / -1;

      & .recharts-cartesian-grid-horizontal line,
      & .recharts-cartesian-grid-vertical line {
         stroke: var(--color-primary-500);
      }
   }

   .grid-popular {
      grid-column: 3 / span 2;
   }

   .grid-activity {
      grid-column: 1 / span 2;
   }

   .app-loader {
      width: 90px;
      height: 90px;
      border: 5px solid #665d52;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
      left: 47%;
      top: 37%;
      position: fixed;
      z-index: 10;
   }

   .rotate {
      animation: rotation 1s linear infinite;

      @keyframes rotation {
         0% {
            transform: rotate(0deg);
         }
         100% {
            transform: rotate(360deg);
         }
      }
   }
}
